@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --Poppins: 'Poppins', sans-serif;
  --Chicle: 'Chicle', serif;
  --Ultra: "Ultra", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--Poppins);
}

.meta-market-logo {
  /* background: linear-gradient(90deg, #D4A9FF 0%, #364AFF 100%); */
  background: linear-gradient(to right,
      #7b51d5 20%,
      #71d4ff 30%,
      #098dc5 50%,
      #764ada 80%);
  background-clip: text;
  background-size: 500% auto;
  color: transparent;
  line-height: 1.4;
  animation: textShine 4s ease-in-out infinite alternate;
  font-family: var(--Poppins);
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}